[IBGateway]
WriteDebug=false
TrustedIPs=127.0.0.1
RemoteHostOrderRouting=ndc1.ibllc.com
MainWindow.Height=1048
RemotePortOrderRouting=4001
LocalServerPort=4000
ApiOnly=true
MainWindow.Width=924

[u:oojhojjeblkkdcafmmfpafnehnaphbdhffpbckgp]
AutoRestart=1

[Logon]
useRemoteSettings=false
UserNameToDirectory=fhmichdfamkmalondbbhomafenehlmecnbbhndgf,oojhojjeblkkdcafmmfpafnehnaphbdhffpbckgp
TimeZone=America/New_York
tradingMode=p
colorPalletName=dark
Steps=6
Locale=en
os_titlebar=false
SupportsSSL=ndc1.ibllc.com:4000,true,20250917,false;cdc1.ibllc.com:4000,true,20250918,false
UseSSL=true
screenHeight=1080
s3store=true
Restart=OK
ibkrBranding=pro

[Communication]
Peer=cdc1.ibllc.com:4001
Region=us

